

body
{
    background-color: teal;
    font-family:Arial;
}

h1 {
    font-size: 40px;
    text-align: center;
    background-color: violet;
}

h2{
    font-size: 34px;
    color:darkred;
    
    
}

h3{
    font-size: 18px;
    font-style: italic;
}


h2 span {
    background-color: none;
    vertical-align: top;
}

h1 span {
    
    border: 5px solid black;
    border-radius: 2rem;
    padding: 0.5rem;
}

#yellow {
    color:yellow;
}

#links {

    text-align:center;
    font-size:2rem;
    color:white;
    
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

#CVText {

    border-radius: 2rem;
    border: 5px solid black;
    padding : 0.5rem;
}

#uniPic {
    float:right;
   
}

#linkDiv {

    background: darkred; 
    height: 3rem;
}

#keiBio {

    display:inline;
}

#keiPic {

    display: inline;
    width: 150%;
    height: auto;
}

#inputBoxes {

    position:absolute;
    right:8%;
    border-radius: 2rem;
    border-style:dotted;
    border-color:black;
    border-radius:10%;
    font-size: 1.5rem;
    padding: 1.25rem;
    float:left;
    display:inline;
    
}

.button{

    height:1.75rem;
    font-size:1.25rem;
    
}

.inBox {

    font-size: 18pt;
    height: 2rem;
    width: 14rem;
    
}

.picText {
    color: darkred;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.keiContainer {

    display: inline-block;
    position: relative;
    height: 30%;
    width: 20%;
}

.keiContainer:hover .overlay {
    opacity: 0.8;
}

.keiDetails{

    display:inline-block;
    position:absolute;
    top:20%;
    left:32%;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 150%;
    opacity: 0;
    transition: .5s ease;
    background-color: mediumpurple;
    border-radius: 10%;
    display: inline;
}

img {
    border-radius: 10%;
}
a {
    text-decoration: none;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.1);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkred;
    color: white;
    text-align: center;
}



.highlight {
    background: red;
}