

body
{
    background-color: teal;
    font-family:Arial;
}

h1 {
    font-size: 40px;
    text-align: center;
    background-color: violet;
}

h2{
    font-size: 34px;
    color:darkred;
    
    
}

h3{
    font-size: 18px;
    font-style: italic;
}


h2 span {
    background-color: none;
    vertical-align: top;
}

h1 span {
    
    border: 5px solid black;
    border-radius: 2rem;
    padding: 0.5rem;
}

#yellow {
    color:yellow;
}

#links {

    text-align:center;
    font-size:2rem;
    color:white;
    
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

#CVText {

    border-radius: 2rem;
    border: 5px solid black;
    padding : 0.5rem;
}

#uniPic {
    float:right;
   
}

#linkDiv {

    background: darkred; 
    height: 3rem;
}

#inputBoxes {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.inBox {
    font-size: 18pt;
    height: 1.25rem;
    width: 14rem;
}

img {
    border-radius: 10%;
}
a {
    text-decoration: none;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.1);
}